services:
  - type: web
    name: rewarity-api
    env: node
    rootDir: .
    plan: free
    autoDeploy: true
    healthCheckPath: /
    buildCommand: "npm ci"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI_PROD
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGINS
        sync: false
